<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Thai Top Fitness | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/leaflet.css" />
		<link rel="stylesheet" href="css/main.css">
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="index.html"><img src="img/logo.png" alt="Thai Top Fitness" ></a></li>
						<li class="active">
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/pages/blogs.html">Blog</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/pages/workouts.html">Workouts</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/pages/nutrition.html">Nutrition</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/pages/supplements.html">Supplements</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/pages/about.html">About</a>
						</li>
						<li class="pull-right">
							<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMakThaiTopFitness&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=1594784380755278" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; margin-top: 40px" allowTransparency="true"></iframe>
						</li>						
					</ul>
				</nav>
			</div>
		</div>
		
		<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{ page.title }}</h1>
					</div>
				</div>
			</div>
		</div>

		{{ content }}

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-12">
		    			<h3>Stay Connected</h3>
							<a href="https://www.facebook.com/MakThaiTopFitness" target="_blank" style="margin-right: 30px"><img src="img/service-icon/fb.png" alt="Facebook" ></a>
							<a href="https://www.youtube.com/user/thaitopfitness" target="_blank" style="margin-right: 30px"><img src="img/service-icon/yt.png" alt="Youtube" ></a>
							<a href="http://instagram.com/markabbott_official" target="_blank" style="margin-right: 30px"><img src="img/service-icon/ig.png" alt="Instagram" ></a>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; Thai Top Fitness. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="js/jquery.fitvids.js"></script>
        <script src="js/jquery.sequence-min.js"></script>
        <script src="js/jquery.bxslider.js"></script>
        <script src="js/main-menu.js"></script>
        <script src="js/template.js"></script>

    </body>
</html>
